body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../../Chef_Oeuvre/img/fond_vip.png');
    min-height: 100vh;
    
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(180deg, rgba(20,10,50,0.85), rgba(40,20,80,0.9));
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -1em;
    padding: 1.25em 3.75em;
    background-color: #180A3A;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color:#ddd;
}

nav a {
    margin-left: 2em;
    text-decoration: none;
    color: #ddd;
    font-weight: 500;
}

nav a:hover {
    color: #fff;
}

.depot{
    margin-top: 12em;
    margin-left: 45em;
    background-color: whitesmoke;
    border-radius: 1em;
    padding: 3em;
    max-width: 300px;
    height: 300px;
    text-align: center;
}


.drop {
    border: 2px dashed #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em;
    padding-bottom: -2em;
    cursor: pointer;
    transition: all 0.2s;
    color: black;
}

.drop.hover {
    border-color: #4caf50;
    background: #f0fff4;
}

.btn_parcourir{
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.btn_parcourir:hover{
    background-color: #e1e6e1;
}

.preview {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin-top: 10px;
}

